@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Unica+One&display=swap");

$p-clr: #d434fe;
$s-clr: #ff26b9;
$t-clr: #903aff;
$black: #150e28;
$dark-black: #100b20;
$white: #ffffff;
$light-black: #ffffff08;
